keys.py
/__pycache__
/chromedriver_win32
/UserData*
/log*
/output*
/gcp_logs
/pretty_output
/unavailable_screenshots*
/error_screenshots*
/configs
/ads_test
/.ipynb_checkpoints
/analysis/.ipynb_checkpoints

.DS_Store
*.exe
*.txt
*.xlsx
!config_example.json
!requirements.txt
